@keyframes fadein{

    0% { opacity:0; }
    20% { opacity:0.2; }
    40% { opacity:0.4; }
    60% { opacity:0.6; }
    80% { opacity:0.7; }
    100% { opacity:0.8; }

}

         @font-face{
font-family: 'OpenSans-Light';
src: url('../fonts/OpenSans-Light.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
         

@font-face{
font-family: 'OpenSans-Bold';
src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}



#head{
    width:1200px;
    height: 444px;
    background-image: url(abstrk.jpg);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px solid white;
}
h1{
    position: absolute;
    width: 100%;
    font-family: 'OpenSans-Light';
    color: #d9d9d9;
    margin-left: 750px;
    margin-top: 75px;
    font-size: 40px;
}

h2{
    position: absolute;
    width: 100%;
    font-family: 'OpenSans-Light';
    color: #f7ff94;
    margin-left: 833px;
    margin-top: 130px;
    font-size: 25px;
}

h3 {
text-align: center;
    font-family: 'OpenSans-Bold';
    color: #89584f;
    font-size: 30px;
}

.menuu{
    position: absolute;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 380px;
    list-style: none;
    background-color: #10271d;
    opacity: 0.7;
    border-bottom: 3px solid aqua;
}
.menuu li{
    display: inline;
    margin-left: 3%;
  
}
.menuu a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'OpenSans-Light';
    font-size: 20px;
    
}

.menuu a:hover{
    color: #3afff7;
    
}

#head img{
    position: absolute;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 380px;
}

#target{
background: white;
    width: 1160px;
    height: auto;
     margin-left: auto;
    margin-right: auto;

}

#target li{

    width: 55%;
    height: auto;
    list-style: none;
    line-height: 1.0;
    border-bottom: 2px solid rgb(0, 255, 255);
  margin-left: auto;
    margin-right: auto;
    line-height: 1.0;
animation-name: fadein;
    animation-duration: 1s;

}

#target li a{
box-shadow: 5px 5px 25px black;
}


#target li p{

    text-align: center;
    font-family: 'OpenSans-Light';
    font-size: 25px;
}

.target_logo{
    width: 12%;
    margin-left: auto;
    margin-right: auto;
      margin-top: 3%;
}
.target_img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.invenient{
    position: relative;
    width: 1200px;
    height: 374px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-image: url(invenient.jpg);
    background-repeat: round;
}  

.invenient_h{
    text-align: center;
    font-family: "OpenSans-Bold";
    color: #ff9d01;
    font-size: 30px;
    animation-name: fadein;
    animation-duration: 1s;
}

.invenient_text{
    width: 1000px;
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 2s;
   
}
.invenient_lg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 3s;
}

.galary{
width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.galary p{
text-align: center;
}


.footer{

    width: 1180px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #93bac9;
    padding-top: 20px;
    padding-left: 20px;

}


.email{

    font-family: "OpenSans-Light";
    font-size: 25px;
    color: #000000;
    text-decoration-line: none;
}

.footer a {

  text-decoration-line: none;
    color: #000000;
}

.footer img {
  height: 25px;
}


#illus {
    position: fixed;
    width: 1100px;
    height: auto;
    padding: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: 9999;
}

#illus li{
    width: 220px;
    height: 220px;
    display: inline;
    padding: 10px;
    animation-name: fadein;
    animation-duration: 1s;
}

#illus li img{
   margin: 10px;
}


#illus p{
   text-align: right;
    border-top: 1px solid gray;
    padding-top: 10px;
    color: white;
    font-family: 'OpenSans-Light';
    font-size: 25px;
}

#illus p img:hover{
   opacity: 0.5;
}


         body{
       
        background-image: url(fon.jpg);
             background-repeat: repeat;
             
         }
         
    