@keyframes fadein{

    0% { opacity:0; }
    20% { opacity:0.2; }
    40% { opacity:0.4; }
    60% { opacity:0.6; }
    80% { opacity:0.7; }
    100% { opacity:0.8; }

}



         @font-face{
font-family: 'OpenSans-Light';
src: url('../../fonts/OpenSans-Light.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
         

@font-face{
font-family: 'OpenSans-Bold';
src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}


h1{
    position: absolute;
    font-family: "OpenSans-Light";
    margin-left: 10%;
    color: #d3d3d3;
    text-decoration-line: none;
    font-size: 50px;
    margin-top: 5%;   
}
h2{
    position: absolute;
font-family: "OpenSans-Light";
    margin-left: 18%;
    color: #fff795;
    text-decoration-line: none;
    font-size: 30px;
    margin-top: 13%;   
}

.headimg{
    position: relative;
    width: 640px;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(abstrk.jpg);
    background-size: cover;
    border-bottom: 10px solid rgb(0, 255, 255);
}

ul{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
 background-image: url(abstrk.jpg);
    background-repeat: round;
}

ul li{
    width: 97%;
    height: 100px;
    background-color: #1d232e;
    list-style: none;
    border-bottom: 1px solid gray;
    animation-name: fadein;
    animation-duration: 0.3s;
    opacity: 0.8;
}

ul li:hover{
    background-color: #6e83a5;
}

ul a{
    font-family: "OpenSans-Light";
    margin: 18px;
    color: #ffcd7d;
    text-decoration-line: none;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


ul a:hover{
    color: #fff253;
}


ul p{
    text-align: center;
}

.headimg img {
    opacity: 0.7;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 350px;
}




.invenient{
    position: relative;
    width: 640px;
    height: 374px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-image: url(../../style/invenient.jpg);
    background-repeat: round;
}  

.invenient_h{
    text-align: center;
    font-family: "OpenSans-Bold";
    color: #ffbc52;
    font-size: 30px;
    animation-name: fadein;
    animation-duration: 1s;
}

.invenient_text{
    width: 600px;
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 30px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 2s;
   
}
.invenient_lg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 3s;
}

.pointart{
    position: relative;
    width: 640px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #860000;
    border-bottom : 10px solid #860000;
    margin-bottom: 50px;
    background-color: white;
    
}


.pointart a {

}

.pointart_h{
    text-align: center;
    font-family: "OpenSans-Bold";
    font-size: 35px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 1s;
}


.logopoint{

text-align: center;
    animation-name: fadein;
    animation-duration: 1s;

}

.pointart_txt {
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 35px;
    color: #95857d;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 1s;
}


.images{
width: 640px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.images p{
text-align: center;
}



.footer{

    width: 620px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    padding-left: 20px;

}


.email{

    font-family: "OpenSans-Light";
    font-size: 25px;
    color: #000000;
    text-decoration-line: none;
}

.footer a {

  text-decoration-line: none;
    color: #000000;
}

.footer img {
  height: 25px;
}


 body{
       
        background-image: url(../../style/fon.jpg);
             background-repeat: repeat;
             
         }
         



